.footer-img {
  width: 250px;
  height: 200px;
  position: absolute;
  bottom: -32%;
  left: -10%;
  z-index: -5;
}

.subscribe-btn {
  background: transparent;
  color: var(--text-yellow);
  border: 1.5px solid var(--bg-yellow);
}

.subscribe-input::placeholder {
  color: var(--paragraph-color);
}
.subscribe-btn:hover {
  background: var(--bg-yellow);
  color: white;
  transition: 0.3s ease;
}
